 <!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title><%= POKEMON.NOME %></title>
</head>
<body>
        <h2><%= pokemon.nomePessoa %></h2>
        <h1><%= pokemon.nomeEquipe %></h1>
        <p>Tipo: <%= pokemon.tipo %></p>
        <p>Altura: <%= pokemon.altura %></p>
        <p>Peso: <%= pokemon.peso %></p>
        <p>Poder: <%= pokemon.nivelPoder %></p>
        <a href="/">Voltar à Pokédex</a>    
</body>
</html> 